In [1]:
import duckdb
import pandas as pd

In [2]:
sql_query = '''
select * from "nyc_parking_violations"."main_dbt_test__audit"."violation_codes_revenue"
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

In [3]:
sql_query_import1 = '''
create or replace parking_violation_codes AS
select *
from read_csv_auto(
'data/dof_parking_violation_codes.csv',
normalize_names = True
)
'''

sql_query_import2 = '''
create or replace parking_violation_2023 AS
select *
from read_csv_auto(
'data/parking_violations_issued_fiscal_year_2023_sample.csv',
normalize_names = True
)
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import1)
  con.sql(sql_query_import2)

ParserException: Parser Error: syntax error at or near "parking_violation_codes"
LINE 2: create or replace parking_violation_codes AS
                          ^